body {
    background-color: rgb(66, 66, 66);
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu', "Open Sans";
    zoom: 100%;
}

#h01 {
    color: rgb(253, 57, 57);
    float: right;
    margin-right: 4.5%;
    margin-top: 1%;
    padding: 0;
    font-size: 2.22vw;
    font-family: 'Ubuntu', "Open Sans";
    font-weight: 900;
}

#p01 {
    background-color: #717171;
    padding: 10px;
    margin: 10px;
    font-size: 1.4vw;
    overflow: hidden;
}

#i01 {
    width: 22%;
}

#d01 {
    background-image: url("../images/white.jpg");
    background-color: rgb(247, 245, 245);
    margin: 0;
    padding: 0;
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#h02 {
    background-color: #fc1313;
    padding: 15px;
    width: 9vw;
    border-radius: 30px;
    margin-bottom: 10px;
    color: white;
    margin-left: 40%;
    font-size: 2vw;
}

#h03 {
    background-color: #fc1313;
    padding: 15px;
    width: 17.4vw;
    border-radius: 35px;
    color: white;
    margin-left: 30%;
    font-size: 2vw;
}

.footer {
    clear: both;
    position: static;
    left: 0;
    border-top: 4px solid;
    border-radius: 10px;
    border-color: #fc1313;
    bottom: 0;
    width: 100%;
    height: 20%;
    margin-top: 5%;
    background-color: #494949;
    color: white;
    text-align: center;
    box-shadow: 0px 0px 14px 5px #2c2929;
}

.footer1 {
    clear: both;
    position: static;
    left: 0;
    border-top: 4px solid;
    border-color: #525151;
    bottom: 0;
    width: 100%;
    height: 20%;
    margin-top: 5%;
    background-color: #494949;
    color: white;
    text-align: center;
}

#d02 {
    color: white;
    width: 50vw;
    height: 35vw;
    border: 4px solid;
    border-color: #fc1313;
    background-color: #8f8f8f;
    padding: 1px;
    margin: 5px;
    margin-left: 3%;
    display: block;
    border-radius: 16px;
    float: left;
    margin-bottom: 4%;
    box-shadow: 4px 8px 14px 5px #2c2929;
}

#li1 {
    padding: 5px;
    background-color: #717171;
    font-size: 1.5vw;
}

#d03 {
    color: white;
    width: 40vw;
    height: 30vw;
    float: right;
    border: 4px solid;
    border-color: #fc1313;
    background-color: #8f8f8f;
    padding: 1px;
    margin: 5px;
    margin-right: 3%;
    display: block;
    border-radius: 16px;
    margin-bottom: 4%;
    box-shadow: 4px 8px 14px 5px #2c2929;
}

#d04 {
    color: white;
    width: 60%;
    border: 7px solid;
    border-color: #f73535;
    background-color: #8f8f8f;
    padding: 1px;
    margin: 20 auto;
    border-radius: 16px;
    box-shadow: 4px 8px 14px 5px #2c2929;
}

#d05 {
    color: white;
    width: 60%;
    border: 4px solid;
    border-color: #f73535;
    background-color: #8f8f8f;
    padding: 1px;
    margin: 20 auto;
    border-radius: 16px;
    box-shadow: 4px 8px 14px 5px #2c2929;
}

.custom-select {
    width: 13vw;
    border-radius: 16px;
    overflow: hidden;
    background: #f1f1f1;
    box-shadow: 0px 0px 30px -8px #2c2929;
}

.custom-select select {
    padding: 5px 8px;
    width: 130%;
    box-shadow: 0px 0px 30px -8px #2c2929;
}

.custom-select select:focus {
    outline: none;
}

#ul3 {
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #807f7f;
    position: sticky;
    z-index: 99;
    box-shadow: 0px 1px 14px -2px #2c2929;
}

#ul2 {
    margin-left: 3%;
    padding: 10px;
    background-color: #8f8f8f;
    box-shadow: 0px 0px 0px;
}

#ul1 {
    list-style-type: none;
    margin: 0 auto;
    overflow: hidden;
    background-color: #494949;
}

.footer-elements {
    background-color: #494949;
}

.footer-elements li {
    width: 10%;
    height: 30px;
    float: none;
    margin-left: 42%;
    text-align: center;
}

.footer-elements li a:hover {
    background-color: rgb(255, 0, 0);
    text-decoration: underline;
    transition: 0.7s;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: rgb(97, 97, 97);
    transition: 0.3s;
}

.active {
    background-color: rgb(240, 27, 27);
}

.slideshow-container {
    max-width: 100vw;
    max-height: 500px;
    position: relative;
    margin: auto;
    box-shadow: 0px 4px 15px 5px #2c2929;
}

.mySlides {
    display: none;
}

#slide1 {
    display: block
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(255, 0, 0, 0.8);
}

.text {
    border-radius: 16px;
    display: inline-block;
    background-color: #fc1313;
    border: 3px solid;
    border-color: #2c2929;
    color: #f3f3f3;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 20%;
    margin-left: 39%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.dot:hover {
    background-color: #717171;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

table {
    border: 10px;
    border-collapse: collapse;
    padding: 4px;
    border-color: rgb(255, 49, 49);
    margin-bottom: 20px;
}

.bg-image {
    background-image: url("../images/red-saturated.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

tr {
    color: white;
}

input[type=text], input[type=password], input[type=date] {
    width: 100%;
    height: 40px;
    padding: 15px;
    margin: 5px 0 22px 0;
    border-radius: 16px;
    display: inline-block;
    border: none;
    background: #f1f1f1;
    box-shadow: 0px 0px 30px -8px #2c2929;
}

input[type=text]:focus, input[type=password]:focus, input[type=date]:focus {
    background-color: #ddd;
    outline: none;
}

td {
    text-align: center;
}

#td2 {
    font-size: 1.2vw;
    padding-bottom: 1vw;
    padding-right: 1vw;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}

label {
    color: white;
    font-size: 18px;
}

#cp1 {
    margin-left: 8%;
}

#fit1 {
    font-size: 12px;
}

#td1 {
    margin-left: 10%;
}

.registerbtn {
    background-color: rgb(255, 49, 49);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    width: 100%;
    transition: 0.4s;
    opacity: 0.9;
}

.registerbtn2{
    background-color: rgb(255, 49, 49);
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    margin-left: 15vw;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    width: 50%;
    transition: 0.4s;
    opacity: 0.9;
}

.registerbtn:hover {
    background-color: rgb(248, 6, 6);
}

.registerbtn2:hover {
    background-color: rgb(248, 6, 6);
}

.footer-img {
    float: left;
    height: 9vw;
    margin-left: 0.2vw;
}

.display-table7{
    border:none;
    width: 30vw;
}

.display-table{
    border:10px;
    width: 30vw;
    border-collapse: collapse;
    padding: 4px;
    border-color: rgb(255, 49, 49);
    margin-bottom: 20px; 
}
th{
    background-color: rgb(255, 49, 49);
    color: white;
    text-align: left;
    padding: 8px;
}
#d06{
    color: white;
    width: 60%;
    height: auto;
    border: 4px solid;
    border-color: #f73535;
    background-color: #8f8f8f;
    padding: 1px;
    margin: 20 auto;
    border-radius: 16px;
    box-shadow: 4px 8px 14px 5px #2c2929;
    position: relative;
}
#div-1{
    color: white;
    width: 28vw;
    height: auto;
    border: 7px solid;
    border-color: #f73535;
    background-color: #8f8f8f;
    padding: 1px;
    float:left;
    margin-left: 19vw;
    border-radius: 16px;
    box-shadow: 4px 8px 14px 5px #2c2929;
}
#div-2{
    color: white;
    width: 28vw;
    height: auto;
    border: 7px solid;
    border-color: #f73535;
    background-color: #8f8f8f;
    padding: 1px;
    float:right;
    margin-right: 19vw;
    border-radius: 16px;
    box-shadow: 4px 8px 14px 5px #2c2929;
}
#div-3{
    clear:both;
    color: white;
    width: 60vw;
    height: auto;
    border: 7px solid;
    border-color: #f73535;
    background-color: #8f8f8f;
    padding: 1px;
    float:right;
    margin-top: 1vw;
    margin-right: 19vw;
    margin-bottom: 1vw;
    border-radius: 16px;
    box-shadow: 4px 8px 14px 5px #2c2929;
}
#h04{
    background-color: #fc1313;
    padding: 12px;
    width: 12.4vw;
    border-radius: 35px;
    color: white;
    margin-left: 7.5vw;
    font-size: 1.5vw;
}
#h05{
    background-color: #fc1313;
    padding: 12px;
    width: 14.4vw;
    border-radius: 35px;
    color: white;
    margin-left: 6vw;
    font-size: 1.5vw;
}
#h06{
    background-color: #fc1313;
    padding: 12px;
    width: 9.5vw;
    border-radius: 35px;
    color: white;
    margin-left: 25vw;
    text-align: center;
    font-size: 1.2vw;
}
#td3 {
    padding-left: 3vw;
    font-size: 1.2vw;
    text-align: left;
    padding-bottom: 1vw;
    padding-right: 1vw;
}
.display-table2{
    border:10px;
    width:40vw;
    border-collapse: collapse;
    padding: 4px;
    border-color: rgb(255, 49, 49);
    margin-bottom: 20px; 
}
#div-4{
    color: white;
    width: 60vw;
    height: auto;
    border: 7px solid;
    border-color: #f73535;
    background-color: #8f8f8f;
    padding: 1px;
    float:right;
    margin-right: 19vw;
    margin-bottom: 1vw;
    border-radius: 16px;
    box-shadow: 4px 8px 14px 5px #2c2929;
}
#h07{
    background-color: #fc1313;
    padding: 12px;
    width: 14.8vw;
    border-radius: 35px;
    color: white;
    margin-left: 21vw;
    text-align: center;
    font-size: 1.2vw;
}
#h08{
    background-color: #fc1313;
    padding: 12px;
    width: 13.8vw;
    border-radius: 35px;
    color: white;
    margin-left: 21vw;
    font-size: 1.5vw;
}
.display-table3{
    border:10px;
    width:56vw;
    border-collapse: collapse;
    padding: 4px;
    border-color: rgb(255, 49, 49);
    margin-bottom: 20px; 
}
#td4{
    font-size: 1.2vw;
    padding-bottom: 1vw;
    padding-right: 1vw;
    text-align: left;
    padding-left: 2vw;
}

.hide{
    display: none;
}

.unhide{
    display: block;
}